////////
////
//// HEADER
////
///////

.header {
  height: 100vh;
  overflow: hidden;
}

.row {
  height: 100%;
}

.header__title {
  display: flex;
  align-items: center;
  height: 100%;
  transform: translateY(-88px);
}
