////////
////
//// HEADER
////
///////

.header {
  height: calc(100vh - 107px);
  position: relative; // Important pour le positionnement absolu du scroll

  .row {
    height: 100%;
    position: relative; // Pour maintenir le contexte de positionnement
  }

  &__title {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__scroll {
    position: absolute; // Position absolue
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 3.2rem; // Distance du bas
    left: 0; // Aligné à gauche
  }
}
