////////
////
//// fonts
////
///////

@font-face {
  font-family: 'marr_sans_webmedium';
  src: url('../../fonts/marrsans-medium-webfont.woff2') format('woff2'),
    url('../../fonts/marrsans-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'marr_sans_webregular';
  src: url('../../fonts/marrsans-regular-webfont.woff2') format('woff2'),
    url('../../fonts/marrsans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
