////////
////
//// fonts
////
///////

@font-face {
  font-family: 'greed_condensed_trialsemibold';
  src: url('../../fonts/greedcondensedtrial-semibold-webfont.woff2')
      format('woff2'),
    url('../../fonts/greedcondensedtrial-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'neue_haas_unica_promedium';
  src: url('../../fonts/linotype_-_neue_haas_unica_pro_medium-webfont.woff2')
      format('woff2'),
    url('../../fonts/linotype_-_neue_haas_unica_pro_medium-webfont.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'neue_haas_unica_proregular';
  src: url('../../fonts/linotype_-_neue_haas_unica_pro-webfont.woff2')
      format('woff2'),
    url('../../fonts/linotype_-_neue_haas_unica_pro-webfont.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}
